<%- layout('layouts/boilerplate') %>
<!-- pre loader -->
<div class="loader-container">
    <img draggable="false" src="/images/preloader.gif" alt="">
</div>

<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
        <h3>Hi There,<br /> I'm Shiv kumar </h3>
        <p>i am into <span class="typing-text"></span></p>
        <a href="#about" class="btn"><span>About Me</span>
            <i class="fas fa-arrow-circle-up"></i>
        </a>
        <!-- Social Links -->
        <div class="socials">
            <ul class="social-icons">
                <li><a class="linkedin" href="#" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a class="github" href="https://github.com/shiv291023" target="_blank"><i
                            class="fab fa-github"></i></a>
                </li>
                <li><a class="telegram" href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"
                            target="_blank"></i></a></li>
                <li><a class="dev" href="/" target="_blank"><i class="fab fa-dev"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="image">
        <img draggable="false" class="tilt" src="images/profilePhoto.jpg" alt="">
    </div>
</section>
<!-- hero section ends -->


<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="images/About.jpg" alt="">
        </div>
        <div class="content">
            <h3>I'm Shiv Kumar</h3>
            <span class="tag">Passionate Full Stack Developer</span>
            <p>My name is Shiv Kumar.
                 I come from the beautiful city of Bareilly, where I completed my schooling at Vyas world school, Bareilly,
                  which instilled in me a strong foundation for learning and personal growth.
                <br/>
                I pursued my passion for Software engineering and went on to obtain a Diploma in software engineering technician ,
                 which provided me with a comprehensive understanding of the business world and honed my analytical and problem-solving skills.
                <br/>
                Throughout my academic journey, I also developed a keen interest in the world of technology, 
                particularly in web  development.</p>

            <div class="box-container">
                <div class="box">
                    <p><span> age: </span> 22</p>
                    <p><span> phone : </span> +91 8126760225</p>
                </div>
                <div class="box">
                    <p><span> email : </span> saror139@my.centennialcollege.ca </p>
                    <p><span> place : </span> Uttar Pradesh, India - 243122</p>
                </div>
            </div>
            <!-- Resume Download Button -->
            <div class="resumebtn">
                <a href="#" class="btn" download=""><span>Download Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- about section ends -->

<!-- skills section starts -->
<section class="skills" id="skills">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-html5">
                            <span>HTML</span></i>
                        <span>98%</span>
                    </div>
                    <div class="line html"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-css3-alt">
                            <span>CSS</span></i>
                        <span>95%</span>
                    </div>
                    <div class="line css"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-js-square">
                            <span>Javascript</span></i>
                        <span>90%</span>
                    </div>
                    <div class="line javascript"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-bootstrap">
                            <span>Bootstrap 5.2</span></i>
                        <span>85%</span>
                    </div>
                    <div class="line bootstrap"></div>
                </div>

              
               

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-react">
                            <span>ReactJS</span></i>
                        <span>70%</span>
                    </div>
                    <div class="line reactjs"></div>
                </div>
            </div>

            <div class="col">
                <div class="bar">
                    <div class="info">
                        <i class="fas fa-database">
                            <span>Mongo DB</span></i>
                        <span>90%</span>
                    </div>
                    <div class="line mongo"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-js">
                            <span>ExpressJS</span></i>
                        <span>90%</span>
                    </div>
                    <div class="line express"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fab fa-npm">
                            <span>NodeJS</span></i>
                        <span>82%</span>
                    </div>
                    <div class="line nodejs"></div>
                </div>

             
             
              
            </div>
        </div>
    </div>
</section>
<!-- skills section ends -->


<!-- education section starts -->
<section class="education" id="education">

    <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img draggable="false" src="/images/educat/College.jpg" alt="">
            </div>
            <div class="content">
                <h3> Diploma in software engineering technician </h3>
                <p> Centennial College | Noida </p>
                <h4>2021-2024 | Pursuing </h4>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img draggable="false" src="/images/educat/School.jpg" alt="High School">
            </div>
            <div class="content">
                <h3> PCM </h3>
                <p> Vyas World School | CBSE</p>
                <h4>2019-21 | Completed</h4>
            </div>
        </div>

    </div>
</section>
<!-- education section ends -->


<!-- work project section starts -->
<section class="work" id="work">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>


    <div class="viewall">
        <a href="/project" class="btn"><span>View All</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</section>
<!-- work project section ends -->

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience </h2>

    <div class="timeline">

        <div class="container left">
            <div class="content">
                <div class="tag">
                    <h2>The Complete Portfolio-project</h2>
                </div>
                <div class="desc">
                    <h3>Express-ejs</h3>
                    <p> Present</p>
                </div>
            </div>
        </div>

        <div class="container right">
            <div class="content">
                <div class="tag">
                    <h2>Start Learning</h2>
                </div>
                <div class="desc">
                    <h3>MERN Developer | </h3>
                    <p>May 2023- present</p>
                </div>
            </div>
        </div>

              
    </div>

    <div class="morebtn">
        <a href="/experience" class="btn"><span>View All</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

    </div>

</section>
<!-- experience section ends -->

<!-- contact section starts -->
<section class="contact" id="contact">

    <h2 class="heading"><i class="fas fa-headset"></i> Get in <span>Touch</span></h2>

    <div class="container">
        <div class="content">
            <div class="image-box">
                <img draggable="false" src="/images/contact1.png" alt="">
            </div>
            <form action="#">

                <div class="form-group">
                    <div class="field">
                        <input type="text" name="name" placeholder="Name" required>
                        <i class='fas fa-user'></i>
                    </div>
                    <div class="field">
                        <input type="text" name="email" placeholder="Email" required>
                        <i class='fas fa-envelope'></i>
                    </div>
                    <div class="field">
                        <input type="text" name="phone" placeholder="Phone">
                        <i class='fas fa-phone-alt'></i>
                    </div>
                    <div class="message">
                        <textarea placeholder="Message" name="message" required></textarea>
                        <i class="fas fa-comment-dots"></i>
                    </div>
                </div>
                <div class="button-area">
                    <button type="submit" title="Sorry! This service hasn't active yet. Till then have live chat.">
                        Submit <i class="fa fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- contact section ends -->



<!-- scroll top btn -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->